<div role="tabpanel" class="tab-pane fade" id="contacto">
    <div class="page-header">
        <h1 align="center" class="init-titles">CONTACTO</h1>
    </div>
    <div class="col-sm-12 col-md-5">
            <p><strong>Dirección: </strong>Calle del Puente #222 Col. Ejidos de Huipulco, Tlalpan C.P. 14380, México D.F.</p>
            <p><strong>Teléfono: </strong>01 800 PULSATIO</p>
            <p><strong>Horario: </strong>24/7, not, solo entre semana de 8am a 8pm.</p>
    </div>
    <div class="col-sm-12 col-md-7">
        <div id="map"></div>
    </div>
</div>