<div role="tabpanel" class="tab-pane fade in active" id="inicio">
    <div class="container-fluid">
        <div class="page-header">
            <p align="center"><img src="/images/Iconillo.png" alt="Pulsatio" height="250px"/></p>
            <h1 align="center">PULSATIO</h1>
        </div>
        <h2 align="center" class="init-titles">Keep in touch with your health</h2>
        <div class="col-sm-8 col-sm-offset-2">
            <p align="center" class="init-titles">Pulsatio le ayuda a conocer la evoluci&oacute;n de sus pacientes y 
            al mismo tiempo mejora su calidad de vida y opciones de tratamiento.</p>
        </div>
    </div>
</div>