<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="home">
            <ul class="nav navbar-nav">
                <li><a>Pulsatio&copy; Copyright<span class="sr-only">(Actual)</span></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a>Oficinas en Anzures No. 24 Col. Polanco Del. Benito Juárez, C.P. 05690</a></li>
                <li><a href="/privacy">Aviso de Privacidad</a></li>
            </ul>
        </div>
    </div>
</nav>