<!DOCTYPE html>
<html>
    <head>
        <title><%- title %></title>
        <%- include('../layouts/headers.html') %>
    </head>
    <body>
        <%- include('navigation') %>
        <div class="container-fluid">
            <div class="page-header">
                <h1>Nuevo Paciente</h1>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Datos del paciente</h3>
                </div>
            </div>
        </div>
        
    </body>
</html>