<!DOCTYPE html>
<html>
    <head>
        <title>Pacientes</title>
        <%- include('../partials/header') %>
    </head>
    <body>
        <%- include('navigation') %>
        <div class="container">
            <div class="page-header">
                <h1>Pacientes</h1>
            </div>
            <ng-view></ng-view>
            <script type="text/ng-template" id="/verPacientes.html">
                
            </script>
        </div>
    </body>
</html>