<a href="/admin"><h4>Pulsatio Portal Administrativo</h1></a>

<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
            <span class="sr-only">Desplegar men&uacute;</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        
    </div>
    <div class="collapse navbar-collapse" id="menu">
        <ul class="nav navbar-nav">
            <li><a href="/show_medicos">M&eacute;dicos</a></li>
            <li><a href="/show_cedes">Cedes Hospitalarias</a></li>
            <li><a href="/show_universidades">Universidades</a></li>
        </ul>
    </div>
</nav>