<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title>Pulsatio</title>
        <%- include('../partials/header') %>
    </head>
    <body>
        <%- include('navigation') %>
        <ng-view></ng-view>
        <!-- MD Login Template -->
        <script type="text/ng-template" id="/login.html">
            <div class="container">
                <div class="page-header">
                    <h1>Login</h1>
                </div>
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="username" class="col-sm-3 control-label">Email</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="username" ng-model="medico.username" required="required"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-sm-3 control-label">Contraseña</label>
                        <div class="col-sm-4">
                            <input type="password" class="form-control" id="password" ng-model="medico.password" required="required"/>
                        </div>
                    </div>
                    <div class="col-sm-4 col-sm-offset-3">
                        <div class="btn-group btn-group-justified" role="group" aria-label="...">
                            <div class="btn-group" role="group">
                                <a href="#/register" class="btn btn-warning" value="register">Registrarse</a>
                            </div>
                            <div class="btn-group" role="group">
                                <button type="submit" ng-model="medico" ng-click="find()" class="btn btn-success">Entrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </script>

        <!-- MD Register Template -->
        <script type="text/ng-template" id="/register.html">
            <div class="container">
                <div class="page-header">
                    <h1>Registro</h1>
                </div>
                <form class="form-horizontal" id="register-form">
                    <div class="form-group">
                        <label for="email" class="col-sm-3 control-label">Email</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="email" ng-model="newMedico.email" required="required" />
                            <span id="emailAlert"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="contrasena" class="col-sm-3 control-label">Contraseña</label>
                        <div class="col-sm-4">
                            <input type="password" class="form-control" id="contrasena" ng-model="newMedico.contrasena" required="required" />
                            <span id="passwordAlert"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="confirmacion" class="col-sm-3 control-label">Confirma contraseña</label>
                        <div class="col-sm-4">
                            <input type="password" class="form-control" id="confirmacion" ng-model="newMedico.confirmacion" required="required" />
                            <span id="passwordConfirmationAlert"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cedula" class="col-sm-3 control-label">Cédula</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" id="cedula" ng-model="newMedico.cedula" maxlength="7" required="required"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="nombre" class="col-sm-3 control-label">Nombre</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="nombre" ng-model="newMedico.nombre"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="apellido_p" class="col-sm-3 control-label">Apellido Paterno</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="apellido_p" ng-model="newMedico.apellido_p"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="apellido_m" class="col-sm-3 control-label">Apellido Materno</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="apellido_m" ng-model="newMedico.apellido_m"/>
                        </div>
                    </div>
                    <div class="col-sm-2 col-sm-offset-5">
                        <div class="btn-group btn-group-justified" role="group">
                            <div class="btn-group" role="group">
                                <div id="continueButton"><button type="submit" ng-model="newMedico" ng-click="save(newMedico)" class="btn btn-default">Enviar</button></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </script>

        <script type="text/javascript">
            angular.module('app', ['ngRoute', 'ngResource'])
            .factory('Service', function() {
                var user = {}
                function set(data) {
                    user = data;
                }
                function get() {
                    return user;
                }
                return { set: set, get: get };
            })
            .factory('Medicos', ['$resource', function($resource){
                return $resource('/medicos/:_id', null, {
                    'update': { method: 'PUT' }
                });
            }])
            .controller('RegisterController', ['$scope', 'Medicos', function($scope, Medicos){
                $scope.medicos = Medicos.query();

                // Email validation
                $("#email").keyup(function emailValidation() {
                    var email = $("#email").val();
                    var pwd = $('#contrasena');
                    var cf = $('#confirmacion');
                    var regex = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                    if(regex.test(email)) {
                        $('#emailAlert').html('Email válido.');
                        $('#emailAlert').css('color', 'green');
                    } else {
                        $('#emailAlert').html('<strong>Error</strong>: Verifique que su correo electrónico esté escrito correctamente: ' + email);
                        $('#emailAlert').css('color', 'red');
                    }
                });

                // Password string length validation
                $('#contrasena').keyup(function passwordConforms() {
                    
                });

                // Password match validation
                $('#confirmacion').keyup(function passwordValidation() {
                    var pwd = $('#contrasena').val();
                    console.log(pwd);
                    var conf = $('#confirmacion').val();
                    if(pwd===conf) {
                        $('#passwordConfirmationAlert').html('Las contrase&ntilde;as coinciden.');
                        $('#passwordConfirmationAlert').css('color', 'green');
                    } else {
                        $('#passwordConfirmationAlert').html('<strong>Error</strong>: Las contrase&ntilde;as no coinciden.');
                        $('#passwordConfirmationAlert').css('color', 'red');
                    }
                });

                // Save medico into database
                $scope.save = function(newMedico) {
                    if(!$scope.newMedico || $scope.newMedico.length < 1) return;
                    var medico = new Medicos({
                        _id: newMedico.email, 
                        contrasena: newMedico.contrasena,
                        cedula: newMedico.cedula,
                        nombre: newMedico.nombre,
                        apellido_p: newMedico.apellido_p,
                        apellido_m: newMedico.apellido_m
                    });
                    medico.$save(function(){
                        if ($scope.medicos.push(medico)) {
                            //$window.location.href = '/dashboard';
                            $('#continueButton').html('<a href="/login" class="btn btn-success" value="register">Continuar</a>');
                        }
                        $scope.newMedico = '';
                    });
                }
            }])
            .controller('LoginController', ['$scope', '$routeParams', 'Medicos', 'Service', '$location', '$window', function($scope, $routeParams, Medicos, Service, $location, $window) {
                $scope.medico = Medicos.get({
                    id: $routeParams.id
                });
                $scope.find = function() {
                    var res = Medicos.get({
                        _id: $scope.medico.username
                    }, $scope.medico, function() {
                        $location.url('/');
                        //$window.location.href = '/dashboard';
                    });
                    Service.set(res);
                    console.log(res);
                    $window.location.href = '/dashboard';
                };
            }])
            .config(['$routeProvider', function($routeProvider) {
                $routeProvider.when('/register', {
                    templateUrl: '/register.html',
                    controller: 'RegisterController'
                }).when('/', {
                    templateUrl: '/login.html',
                    controller: 'LoginController'
                });
            }]);
        </script>

        <%- include('../partials/footer') %>
    </body>
</html>